<%- include ('Template/Cabecera', {tituloweb:'Pagina 404'}) %>

        <center>
            <h2>
                <%= titulo %>
            </h2>
            <h2>
                <%= descripcion %>
            </h2>
        </center>
        <%- include('Template/Footer')%>