<%- include('Template/Cabecera', { tituloweb: 'Pagina de inicio' }) %>
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FEPIS.IS</title>
  <style>
    .container {
      max-width: 960px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="text-primary">Dashboard</h1>
    <!-- <div class="shadow-lg p-5 mb-5 bg-body rounded">
      <h4>Estadisticas</h4>
      <table id="tablaAlumnos" class="table mt-4">
        <thead>
          <tr>
            <th style="display: none;">ID</th>
            <th>Alquileres</th>
            <th>Usuarios</th>
            <th>Donaciones</th>
          </tr>
        </thead>
      </table>
    </div> -->
  </div>

  <%- include('Template/Footer') %>
</body>

</html>
