<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS - <%=tituloweb%>
    </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Estilos.css">
    <link rel="stylesheet" href="/css/Validacion.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/validacion.css">
    <link rel="stylesheet" href="icons/font/bootstrap-icons.css">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="main">
                <div class="topbar">
                    <div class="toggle">
                        <ion-icon name="menu-outline"></ion-icon>
                    </div>
                    
                    <div class="user">
                        <img src="/img/3364044.png" alt="">
                    </div>
                </div>
            </div>
            <%- include ('Navbar')%>
                <!-- =====================Main========================== -->
                <div class="col-md-10 ml-sm-auto col-lg-10 px-4">
                    <br>
                    <br>
                    <br>