<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/modalCliente.js"></script>
    <script src="/js/modalAlquiler.js"></script>
    <script src="/js/modalEnser.js"></script>
    <script src="/js/modalDonacion.js"></script>
    <script src="/js/modalEvento.js"></script>
    <script src="/js/switch.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/submenu.js"></script>
    <script src="/js/validacionEnseres.js"></script>
    <script src="/js/validacionCliente.js"></script>
    <script src="/js/validacionAlquiler.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>