<style>
    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }

</style>
<nav class="col-md-2 d-md-block bg-custom sidebar">
    <div class="sidebar-sticky">
        <div class="row">
            <div class="container">
                <div class="navigation">
                    <ul>
                        <img src="/img/Logo.png" class="logo">
                        <li>
                            <a href="/" style="display: none;">
                                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                                <span class="title">Fepi</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="/">
                                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Usuarios">
                                <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                                <span class="title">Usuarios</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Roles">
                                <span class="icon"><ion-icon name="cog-outline"></ion-icon></span>
                                <span class="title">Roles</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Galeria">
                                <span class="icon"><ion-icon name="images-outline"></ion-icon></span>
                                <span class="title">Galeria</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Cursos">
                                <span class="icon"><ion-icon name="ribbon-outline"></ion-icon></span>
                                <span class="title">Cursos</span>
                            </a>
                        </li>

                        <li style="display:none;">
                            <a href="/Instructores">
                                <span class="title">Instructores</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Aprendices">
                                <span class="title">Aprendices</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Practicantes">
                                <span class="icon"><ion-icon name="school-outline"></ion-icon></span>
                                <span class="title">Practicantes</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Responsabilidades">
                                <span class="title">Responsabilidades</span>
                            </a>
                        </li>  -->
                        <li>
                            <a href="/Alquileres">
                                <span class="icon"><ion-icon name="bag-handle-outline"></ion-icon></span>
                                <span class="title">Alquileres</span>
                            </a>
                        <li>
                        <li style="display:none;">
                            <a href="/Clientes">
                                <span class="title">Clientes</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Enseres">
                                <span class="title">Enseres</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Eventos">
                                <span class="icon"><ion-icon name="balloon-outline"></ion-icon></span>
                                <span class="title">Eventos</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Participantes">
                                <span class="title">Participantes</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Colaboradores">
                                <span class="title">Colaboradores</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Materiales">
                                <span class="title">Materiales</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Tareas">
                                <span class="title">Tareas</span>
                            </a>
                        </li>
                        <li>                    
                            <a href="/Donaciones">
                                <span class="icon"><ion-icon name="heart-outline"></ion-icon></span>
                                <span class="title">Donaciones</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Donadores">
                                <span class="title">Donadores</span>
                            </a>
                        </li>
                        <li style="display:none;">
                            <a href="/Articulos">
                                <span class="title">Articulos</span>
                            </a>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

